<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spark</title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'spark/style.css' %}">
  </head>
  <body>

    <div class="a1">
      <h1>新しいアイディアを探し出せ。</h1>
    </div>

    <!--ワードリスト-->
      <div class="word">
        <div class="word_set">
          <div class="word_L">
            <p>{{word_ie1}}</p>
          </div>
          <div class="word_x">
            <p> × </p>
          </div>
          <div class="word_R">
            <p>{{word_rand1}}</p>
            <p>{{word_rand2}}</p>
            <p>{{word_rand3}}</p>
            </div>
          </div>


          <div class="word_set">
            <div class="word_L">
              <p>{{word_ie2}}</p>
            </div>
            <div class="word_x">
              <p> × </p>
            </div>
            <div class="word_R">
              <p>{{word_rand4}}</p>
              <p>{{word_rand5}}</p>
              <p>{{word_rand6}}</p>
              </div>
          </div>


            <div class="word_set">
              <div class="word_L">
                <p>{{word_ie3}}</p>
              </div>
              <div class="word_x">
                <p> × </p>
              </div>
              <div class="word_R">
                <p>{{word_rand7}}</p>
                <p>{{word_rand8}}</p>
                <p>{{word_rand9}}</p>
              </div>
            </div>
        </div>
      


        <!--ワードリスト-->
      <div class="word">
        <div class="word_set">
          <div class="word_L">
            <p>{{word_ie4}}</p>
          </div>
          <div class="word_x">
            <p> × </p>
          </div>
          <div class="word_R">
            <p>{{word_rand10}}</p>
            <p>{{word_rand11}}</p>
            <p>{{word_rand12}}</p>
            </div>
          </div>


          <div class="word_set">
            <div class="word_L">
              <p>{{word_ie5}}</p>
            </div>
            <div class="word_x">
              <p> × </p>
            </div>
            <div class="word_R">
              <p>{{word_rand13}}</p>
              <p>{{word_rand14}}</p>
              <p>{{word_rand15}}</p>
              </div>
          </div>


            <div class="word_set">
              <div class="word_L">
                <p>{{word_ie6}}</p>
              </div>
              <div class="word_x">
                <p> × </p>
              </div>
              <div class="word_R">
                <p>{{word_rand16}}</p>
                <p>{{word_rand17}}</p>
                <p>{{word_rand18}}</p>
              </div>
            </div>
        </div>


        <!--ワードリスト-->
      <div class="word">
        <div class="word_set">
          <div class="word_L">
            <p>{{word_ie7}}</p>
          </div>
          <div class="word_x">
            <p> × </p>
          </div>
          <div class="word_R">
            <p>{{word_rand19}}</p>
            <p>{{word_rand20}}</p>
            <p>{{word_rand21}}</p>
            </div>
          </div>


          <div class="word_set">
            <div class="word_L">
              <p>{{word_ie8}}</p>
            </div>
            <div class="word_x">
              <p> × </p>
            </div>
            <div class="word_R">
              <p>{{word_rand22}}</p>
              <p>{{word_rand23}}</p>
              <p>{{word_rand24}}</p>
              </div>
          </div>


            <div class="word_set">
              <div class="word_L">
                <p>{{word_ie9}}</p>
              </div>
              <div class="word_x">
                <p> × </p>
              </div>
              <div class="word_R">
                <p>{{word_rand25}}</p>
                <p>{{word_rand26}}</p>
                <p>{{word_rand27}}</p>
              </div>
            </div>
        </div>

    <!--リロードボタン-->
    <div class="btn-reload">
      <button class="btn btn--orange" onclick="window.location.reload();">もういっかい！</button>
    </div>

     <!--フォーム-->
     <div class="form">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeKsVhKNyarTrIrXJDwqlTF5dXa3HdOQ1ckzcK6v2sV96-TZg/viewform?embedded=true" width="640" height="645" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    </div>

    <!--JavaScript-->
    <script type="text/javascript" src="{% static 'spark/sample.js' %}"></script>
  </body>
</html>