<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spark</title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'spark/style4.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <!--オープニングアニメーション-->
    <div class="shutter">
      <img src="{% static 'spark/images/spark_op.svg'%}" class="logo" alt="ロゴ">
    </div>
    <div class="img"></div>

  
    <div class=link>
      <a href="view1">view1</a>
      <a href="view2">view2</a>
      <a href="view3">view3</a>
      <a href="view4">view4</a>
      <a href="view5">view5</a>
    </div>
    <div class="a1">
      <h1>新しいアイディアを探し出せ。</h1>
    </div>

    <!--ワードリスト-->
    <div class="word-wrapper">
      <div class="word_box1">
        <div class="word_Left">
          <p>　</p>
          <button class="btn btn--word-L" id="wi1"  style="border:outset 7px;">{{ word_ie1 }}</button>
          <!-- <p class="fukidashi_L">{{ wiki }}</p> -->
          <p>　</p>
        </div>
        <div class="word_x">
          <p>　</p>
          <p> × </p>
          <p>　</p>
        </div>
        <div class="word_Right">
            {% csrf_token %}          
            <button class="btn btn--word-R" type="submit" id="wr1">{{ word_rand1 }}</button>
            <button class="btn btn--word-R" type="submit" id="wr2">{{ word_rand2 }}</button>
            <button class="btn btn--word-R" type="submit" id="wr3">{{ word_rand3 }}</button>
          
        </div>
      </div>
    </div>



    <div>
      <h2>保存されたアイデア</h2>
      <div class="saved-tango" id="saved3"></div>
    </div>
  

    

      <!--リロード無しで単語更新ボタン-->
      <div class="button-wrapper">
        <form id="ajax-wiki" action="{% url 'blog:ajax_wiki' %}" method="POST" >
            {% csrf_token %}
            <button type="submit" class="btn btn--orange">もういっかい！</button>
        </form>
        <button class="btn btn--rannge" id="btn2" onclick="fixed_tango_L('wi1');" >左の単語を固定！</button>
      </div>


      <!-- モーダルエリアここから -->
      <section id="modalArea" class="modalArea">
        <div id="modalBg" class="modalBg"></div>
        <div class="modalWrapper">
          <div class="modalContents">
            
            <p>{{ wiki }}</p>
          </div>
          <div id="closeModal" class="closeModal">
            ×
          </div>
        </div>
      </section>
      <!-- モーダルエリアここまで -->
      
      <!-- ↓body閉じタグ直前でjQueryを読み込む -->
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <!--JavaScript-->
    <script type="text/javascript">
      jQuery(function($){ jQuery(".slide-btn").click(function(){
        jQuery($(this).parent().next(".slide-contents")).animate( {height: "toggle", opacity: "toggle"}, "nomal" );
        });
      }); 
    </script>

    <script>
      $(function () {
      $('#wi1').click(function(){
          $('#modalArea').fadeIn();
      });
      $('#closeModal , #modalBg').click(function(){
        $('#modalArea').fadeOut();
      });
    });





      //単語を保存
      function butotnClick(){
          var wi1 = $("#wi1").text(); 
          var value1 = $("#wr1").text(); 
          $('.saved-tango').prepend('<p>' + wi1 + " × "+ value1 + '</p>');
          
      }
      function butotnClick2(){       
          var wi1 = $("#wi1").text(); 
          var value2 = $("#wr2").text();
          $('.saved-tango').prepend('<p>' + wi1 + " × "+ value2 + '</p>');
          
      }
      function butotnClick3(){    
          var wi1 = $("#wi1").text(); 
          var value3 = $("#wr3").text();      
          $('.saved-tango').prepend('<p>' + wi1 + " × "+ value3 + '</p>');
          
      }
      let button1 = document.getElementById('wr1');
      button1.addEventListener('click', butotnClick);
      let button2 = document.getElementById('wr2');
      button2.addEventListener('click', butotnClick2);
      let button3 = document.getElementById('wr3');
      button3.addEventListener('click', butotnClick3);


    //左を固定する関数
    let left_tango = "not_fixed";
      function fixed_tango_L(idname){
      obj = document.getElementById(idname);
      if (left_tango=="not_fixed") {
        obj.style.border='inset 7px';//ボタンが押しっぱであることを表現
        obj.style.boxShadow = "none";//固定している状態の時は影を消す
        left_tango = "fixed"; 
        $('#btn2').text("左の固定を解除！")
      }
      else  {
        left_tango = "not_fixed";
        obj.style.border='outset 7px';//ボタン押しっぱ表現を元に戻す
        obj.style.boxShadow= "0px 3px #000080";// 固定を解除すると影が出現
        $('#btn2').text("左の単語を固定！")
      }
      }


      
      //左の単語を検索
      // function search() { 
      //   var wi1 = $("#wi1").text(); 
      //   var url_google_search = 'https://www.google.com/search?';       
      //   window.open(url_google_search+'q='+wi1)
      // }



      //ajaxのおまじない
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        $('#ajax-wiki').on('submit', function(e) {
            e.preventDefault();

            $.ajax({
                'url': '{% url "blog:ajax_wiki" %}',
                'type': 'POST',
                'data': {
                },
                'dataType': 'json'
            })
            .done(function(response){
              if (left_tango == "not_fixed") {
                $('#wi1').text(response.word_ie1);
                $('#wr1').text(response.word_rand1);
                $('#wr2').text(response.word_rand2);
                $('#wr3').text(response.word_rand3);
                $('.modalContents').text(response.wiki);
                

              }
              else { 
                $('#wr1').text(response.word_rand1);
                $('#wr2').text(response.word_rand2);
                $('#wr3').text(response.word_rand3);
                
                
              }
                
              });
        });


    </script>
  </body>
</html>