/* hiroya custom */


/* General
====================================================*/

/* import web font "Noto Sans JP" */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;700&display=swap');

/* set color variable */
:root {
  --col-bl: #3B3B40;
  --col-bl-rgb: 59,59,64;
  --col-wh: #F2F2F2;
  --col-wh-rgb: 242,242,242;
  --col-wh-light: #f8f8f8;
  --col-wh-light-rgb: 248,248,248;
}

/*  --- responsive settings --- */
html {
  font-size: 75%;
}
@media screen and (min-width: 100px) {
  html {
    font-size: 62.5%;
    height: 100%;
  }
  .words {
    height:300px;
  }
  .header select {
    width: 100px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 67.5%;
  }
  .wordWrapper {
    padding-bottom:50px;
  }
  .header select {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

/* --- general settings --- */
html {
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--col-bl);
  background-color: var(--col-wh);
  
}
div {
  /* border: solid 3px red; */
  box-sizing: border-box;
}



/* Header
====================================================*/

header {
  display: flex;
  position: relative;
  justify-content: space-between;
}

header .title {
  color: var(--col-bl);
  margin-left: 20%;
}

header select {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  position:absolute;
  width: 100px;
  height: 40px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--col-bl);
  border-radius: 5px;
  margin: auto;
  background: none;
  border-color: var(--col-bl);
}

header select:hover {
  border: solid 2px;
}

header .question {
  color: var(--col-bl);
  margin-right: 2%;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  background: none;
}

header .question:hover {
  opacity: 0.8;
}

header .question:active {
  background-color: var(--col-bl);
  top: 40px;
}


/* Contents
====================================================*/

/* ---  div controls  --- */

.contents {
  display: block;
  text-align: center;
  padding-top: 2.5%;
  
}

@media screen and (min-width: 840px) {
  .contents {
    display: flex;
  }
}

.wordWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
  /* background-color: rgba(255, 0, 0, 0.3); */
}
.words {
  margin-top: 8%;
  margin-bottom: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttonWrapper {
  margin-left: auto;
  margin-right: auto;
  /* width: 90%; */
  
  
}

.keepWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* background-color: rgba(0, 255, 0, 0.3); */
}
 

.save-tango {
  /* height: 500px; */
  height: 500px;
  overflow:auto;
  
}
.save-tango p {
  /* width: 80%;
  border-bottom: solid 1px rgb(163, 163, 163);
  margin-right: auto;
  margin-left: auto;
  text-align: left; */

}
.saved-wordSet {
  display: flex;
  width: 85%;
  border-bottom: solid 1px rgb(163, 163, 163);
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
.saved-wordSet .wordSet{
  width: 85%;
  margin-right: auto;
  margin-left: 0px;
  text-align: left;
}
.saved-wordSet .gc{
    width: 8%;
    height: 1.5rem;
    font-size: 1.1rem;
}
.saved-wordSet .fa-thumbs-o-up{
  margin-right: 3px;
  margin-left: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}


.wordLeft {
  display: flex;
  width: 45%;
  justify-content: flex-end;
  vertical-align: middle;
}

.cross {
  display: inline-block;
  width: 5%;
}

.wordRight {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.wordWrapper p {
  font-size: 2rem;
  padding: 5px 10px;
}



.button {
  display: flex;
  justify-content: center;
}

.btn1, .btn2, .btn3, .btn4 {
  /* border-color: yellow; */
  float: left;
  width: 50%;
  /* justify-content: center; */
}




.keepTitle h2 {
  margin: 1% 5%;
  text-align: left;
  border-bottom: solid 1px black;
}



/* ---  Button  --- */

.btn {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 7px;
  padding: 0.5rem 1.5rem;
  margin: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  background: var(--col-wh);
  color: var(--col-bl);
  box-shadow: 0 4px 14px 0 rgba(var(--col-bl-rgb), 20%);
  transition: 0.1s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: translate(0 ,2px);
  background: rgba(var(--col-wh-light-rgb), 0.9);
  box-shadow: 0 6px 20px rgba(var(--col-bl-rgb), 33%);
}

.bt-left {
  /*display: flex;
  flex-wrap: wrap;
  position: relative;*/ 
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 7px;
  padding: 0.7rem 1.5rem;
  margin: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  background: var(--col-wh);
  color: var(--col-bl);
  box-shadow: 0 4px 14px 0 rgba(var(--col-bl-rgb), 20%);
  transition: 0.1s ease; 
}

.bt-reload {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 7px;
  padding: 1rem 2rem;
  margin: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  background: #ADC8D9;
  color: var(--col-bl);
  box-shadow: 0 4px 14px 0 rgba(var(--col-bl-rgb), 20%);
  transition: 0.1s ease;
  
  /* margin-right: auto;
  margin-left: auto; */

  
}

/* ---  Mordal  --- */

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}



/* --- Hint --- */
.hint_img {
  width: 100%;
  height: 100%;
}





/* --- OP animation --- */
.shutter{
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  background-color:#fff;
  z-index:99;
  -webkit-animation: byeShutter 2.4s forwards;
  animation: byeShutter 2.4s forwards;
}
.logo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: logo 0.8s forwards;
  animation: logo 0.8s forwards;
  animation-delay: 0.2s;

}
@keyframes byeShutter {
70% {
  opacity: 1;
}
100% {
  display: none;
  opacity: 0;
  z-index: -1;
}
}
@keyframes logo {
0% {
  opacity: 1;
}
50% {
  transform: rotate(0deg);     
}
  100% {
  transform: scale(0.8);
  }
}


